*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.settings/
.classpath
.project
target/
out/
build/
classes/

# Mac OS X hidden files
.DS_Store

.iml
.idea
.idea/
work/
.gradle/

common/*.iml
um-webapp/*.iml

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/common/common-m2-l6-start.iml
/um-webapp/um-webapp-m2-l6-start.iml
/common/target/
!/um-webapp/target/
